    .Home {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .title {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .title>h2 {
        width: 100%;
        text-align: center;
        color: #c31212;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .title>p {
        width: 100%;
        text-align: justify;
    }

    .Img {
        width: 5.7cm;
        height: 7cm;
        border-radius: 55%;
        border: 1px solid antiquewhite;
    }


    button {
        padding: 12px 40px;
        border-radius: 50px;
        cursor: pointer;
        border: 0;
        border-color: #c31212;
        background-color: white;
        box-shadow: #fa3939 0 0 8px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-size: 15px;
        transition: all 0.5s ease;
        margin-top: 12px;
    }

    button:hover {
        letter-spacing: 3px;
        background-color: #e81a1a;
        color: hsl(0, 0%, 100%);
        box-shadow: #fa3939 0px 7px 29px 0px;
    }

    button:active {
        letter-spacing: 3px;
        background-color: #a11313;
        color: hsl(0, 0%, 100%);
        box-shadow: #e81a1a 0px 0px 0px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }

    .flex-text {
        display: flex; /* Enable flexbox */
        flex-direction: row; /* Arrange items horizontally (use 'column' for vertical) */
        align-items: center; /* Center items vertically */
        justify-content: center; /* Center items horizontally */
        gap: 8px; /* Add spacing between items */
      }